@use "../style.scss" as global;

.narahosting-hero {
	&-block {
		min-height: 33rem;
		display: flex;
		align-items: center;
		background-size: cover;
		background-position: center center;
		padding: 3.75rem 0;
		margin-bottom: 6.25rem;
	}

	&-content {
		max-width: 600px;
		color: global.$accent-light-color;
		margin-left: 23%;
	}

	&-title {
		font-size: global.$font-xxl;
		margin-bottom: 10px;
		font-weight: bolder;
		color: global.$accent-light-color;
	}

	&-subtitle {
		font-size: 1.25rem;
		margin-bottom: 20px;
	}

	&-button {
		background: global.$primary-color;
		color: global.$accent-light-color;
		padding: 14px 28px;
		text-decoration: none;
		border-radius: 4px;
		font-weight: 700;
	}
	
	@media (max-width: global.$breakpoint-tablet) {
		.narahosting-hero {
			&-title {
				font-size: global.$font-xm;
			}
		}
	}
}