// Brand Colors
$primary-color: #fc782b;
$accent-dark-color: #343434;
$accent-light-color: #cccccc;
$code-dark-color: #23ff7b;

// Typography
$font-xxl: 3rem;
$font-xl: 2rem;
$font-xm: 1.5rem;

// Breakpoints
$breakpoint-tablet: 768px;
