// Brand Colors
$primary-color: #21759b;
$accent-dark-color: #000;
$accent-light-color: #fff;

// Typography
$font-xxl: 3rem;
$font-xl: 2rem;
$font-xm: 1.5rem;

// Breakpoints
$breakpoint-tablet: 768px;
