@use "../style.scss" as global;

.narahosting-code-block {
	display: grid;
	margin: 0;
	grid-template-columns: 1fr;

	&-content {
		font-family: Consolas, "Courier New", monospace;
		background-color: global.$accent-dark-color;
		color: global.$code-dark-color;
		padding: 16px 24px;
		border-radius: 3px;
		font-size: 0.95em;
	}
}
