.narahosting-code-block {
    margin: 0 0 !important;
    grid-template-columns: 1fr auto !important;
}

pre {
    font-family: Consolas, "Courier New", monospace;
    background-color: #000;
    color: #1ce875;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.95em;
}